* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--default-ff);
  font-size: var(--default-size);
  font-weight: var(--default-fw);
  line-height: var(--default-lh);
  color: var(--default-color);
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f9b300;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}
input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
  }
}
address {
  font-style: normal;
}
a,
button {
  display: inline-flex;
  cursor: pointer;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
}
select::-ms-expand {
  display: none;
}
svg {
  cursor: pointer;
  path {
    cursor: pointer;
  }
}
.main {
  flex: 1;
}
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.main-bg {
  background-image: url("@/assets/images/body-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--grid-padding);
  padding-right: var(--grid-padding);
  width: 100%;
}
.swiper {
  max-width: calc(100vw - var(--grid-padding) * 2);
}
.product {
  &-enter-active,
  &-leave-active {
    transition: all 0.5s ease;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}
.overlay {
  background-image: url('@/assets/images/decor.png');
  background-position: bottom;
  background-repeat: no-repeat;
}
.grid--four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--grid-product-gap-inline);
  grid-row-gap: var(--grid-product-gap-block);
  @media (max-width: 1350px) {
    grid-template-columns: repeat(3, 1fr);
    --grid-product-gap-block: 30px;
  }
  @media (max-width: 864px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid-catalog {
  display: grid;
  grid-column-gap: var(--grid-catalog-gap-inline);
  grid-row-gap: var(--grid-catalog-gap-block);
  margin-bottom: var(--catalog-margin-bottom);
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  @media (max-width: 540px) {
    grid-template-columns: repeat(1, 1fr) !important;
    --grid-catalog-gap-block: 20px;
    --catalog-margin-bottom: 30px;
  }
  &--three {
    grid-template-columns: repeat(3, 1fr);
  }
  &--four {
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1350px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
.decor--bg {
  background-image: url("@/assets/images/bg.png");
  background-position: top;
  background-repeat: no-repeat;
}
.catalog-block--padding {
  padding-top: var(--catalog-padding-top);
  padding-bottom: var(--catalog-padding-bottom);
  @media (max-width: 480px) {
    --catalog-padding-top: 20px;
    --catalog-padding-bottom: 60px;
  }
}
.basket-title {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.22;
  max-width: 140px;
  @media (max-width: 768px) {
    font-size: 25px;
  }
}
