:root {
  --default-ff: "Gilroy";
  --default-size: 25px;
  --default-fw: 500;
  --default-lh: 1.32;
  --default-color: #000;
  --grid-padding: 15px;
  --color-btn: #F9B300;
  --hover-color-btn: #E2A300;
  --title-fz: 50px;
  --link-color: #F9B300;
}
