:root {
  --default-ff: "Gilroy";
  --default-size: 25px;
  --default-fw: 500;
  --default-lh: 1.32;
  --default-color: #000;
  --grid-padding: 15px;
  --color-btn: #F9B300;
  --hover-color-btn: #E2A300;
  --title-fz: 50px;
  --link-color: #F9B300;
  --red: #ff0000;
  --max-width-container: 1690px;
  --grid-catalog-gap-block: 30px;
  --grid-catalog-gap-inline: 20px;
  --grid-product-gap-block: 70px;
  --grid-product-gap-inline: 20px;
  --catalog-margin-bottom: 70px;
  --catalog-padding-top: 40px;
  --catalog-padding-bottom: 120px;
}
